<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN"><html>
{% load resthtml %}
<head>
<title>Extended changelog</title>
<link type='text/css' rel='stylesheet' href='{{ ADMIN_MEDIA_PREFIX }}css/base.css' />
<link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}css/base.css' />
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.min.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/advanced_view.js'></script>
</head>
<body>
<div style='padding: 2em;'>
	<h1>Latest {{commits|length}} registered commits</h1>
	<hr />

	    <div style='text-align: right; font-weight: bold;'>
		<a href='admin/nystatus/commit/'>Proceed to admin &raquo;</a>
	    </div>

	<div style='text-align: center; margin: 0px auto;'>
	    <table style='margin: 0px auto; width: 80%;'>
	    <thead>
		<th>Product</th>
		<th>Version</th>
		<th>Type</th>
		<th style='width: 10em;'>Requires update</th>
		<th style='width: 10em;'>Documentation update</th>

		<th style='width: 12em;'>Last commit</th>
		<th>Commit message</th>
	    </thead>
	    {% autoescape off %}
	    {% for c in commits %}
		<tr class="{% cycle 'row1' 'row2' %} changelog_row" id="recored-{{ c.pk }}">
		<td class="product_name">{{c.product|default_if_none:'-'}}</td>
		<td>{{c.version}}</td>
		<td>{{c.get_record_type_display}}</td>
		<td class="{{c.requires_update|yesno:"high_priority," }}"
		    ><img src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-{{ c.requires_update|yesno:"yes,no"}}.gif" />
		    {% if c.requires_update %}
			&nbsp; <a href="javascript:void(0);" class="toggle_update_info">toggle update info</a>
		    {% endif %}
		</td>
		<td><img src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-{{ c.doc_update|yesno:"yes,no"}}.gif" /></td>
		<td>
                    <a href="https://svn.eionet.europa.eu/projects/Naaya/changeset/{{c.int_number}}" target="_blank">
                    {{c.number}}
                    </a>
		    by
		    {{c.author}}<br />
		    <span class="out_of_focus">{{c.datec}}</span>
                </td>
		<td>
		    {{c.message}}
		    {% if c.obs %}
			&nbsp; <a href="javascript:void(0);" class="toggle_changelog_info">more</a>
		    {% endif %}
		</td>
		</tr>
		<!-- {% cycle 'row1' 'row2' %} -->
		
		{% if c.requires_update %}
		    <tr id="update_info-{{c.pk}}" class="toggle_info" >
			<td colspan="7">
			<div class="high_priority">
			    {{ c.update_info|resthtml }}
			</div>
			</td>
		    </tr>
		{% endif %}
	    
		{% if c.obs %}
		    <tr id="changelog_info-{{c.pk}}" class="toggle_info {% cycle 'row1' 'row2' %}" >
			<td colspan="7">
			<div>
			    <b>Changelog {{c.product|default_if_none:""}} {{c.version}}</b><br />
			    {{ c.obs|resthtml }}
			</div>
			</td>
		    </tr>
		{% endif %}
		<!-- {{c.obs|resthtml}} -->
		<!--
		<tr class="{% cycle 'row1' 'row2' %}">
		    
		</tr>
		-->
	    {% endfor %}
	    {% endautoescape %}
	    </table>

	    <div style='text-align: right; font-weight: bold;
			margin-top: 1em;'>
		<a href='admin/nystatus/commit/'>Proceed to admin &raquo;</a>
	    </div>
	</div>
</div>
</body>
</html>
