<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN"><html>
{% load resthtml %}
{% load pversion %}
<head>
<title>Extended changelog</title>
<link type='text/css' rel='stylesheet' href='{{ ADMIN_MEDIA_PREFIX }}css/base.css' />
<link type='text/css' rel='stylesheet' href='{{ MEDIA_URL }}css/base.css' />

 <link rel="stylesheet" href="{{ MEDIA_URL }}css/tipsy.css" type="text/css" media="screen" />


<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.min.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/jquery.tipsy.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/tipdict.js'></script>
<script type='text/javascript' src='{{ MEDIA_URL }}js/common.js'></script>

<script type='text/javascript' src='{{ MEDIA_URL }}js/advanced_view.js'></script>
</head>
<body>
<div style='padding: 2em;'>
	<h1>Naaya Extended Changelog</h1>
	<hr />

	    <div style='text-align: right; font-weight: bold;'>
		<a href='admin/nystatus/release/'>Proceed to admin &raquo;</a>
	    </div>

	<div style='margin: 0px auto;'>
	    <table style='margin: 0px auto; width: 80%;'>
	    <thead>
		<th>Product</th>
		<th>Version</th>
		<th>Release Date</th>
		<!--<th>Type</th>-->
		<th style='width: 10em;'>Requires update</th>
		<th style='width: 10em;'>Documentation update</th>

		<th style='width: 12em;'>Last commit</th>
		<th>Commit message</th>
	    </thead>
	    {% autoescape off %}
	    {% for rel in releases %}
		<tr class="{% cycle 'row1' 'row2' %} changelog_row" id="recored-{{ rel.pk }}">
		<td class="product_name">{{rel.product|default_if_none:'-'}}</td>
		<td>
		    {% if request.user.is_staff%}
		    <a href='admin/nystatus/release/{{ rel.pk }}/' class="edit_release">
			{{rel.version|pversion}}
		    </a>
		    {% else %}
		    {{rel.version|pversion}}
		    {% endif %}
		</td>
		<td>{{rel.datev|default_if_none:"unreleased"}}</td>
		<!--<td>{{rel.get_record_type_display}}</td>-->
		<td class="{{rel.requires_update|yesno:"high_priority," }}"
		    ><img src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-{{ rel.requires_update|yesno:"yes,no"}}.gif" />
		    {% if rel.requires_update %}
			&nbsp; <a href="javascript:void(0);" class="toggle_update_info">
			    YES <!--<img src="{{ MEDIA_URL }}img/down-arrow.png" />-->
			</a>
		    {% endif %}
		</td>
		<td><img src="{{ ADMIN_MEDIA_PREFIX }}img/admin/icon-{{ rel.doc_update|yesno:"yes,no"}}.gif" /></td>
		<td>
                    <a href="https://svn.eionet.europa.eu/projects/Naaya/changeset/{{rel.int_number}}" target="_blank">
                    {{rel.number}}
                    </a>
		    by
		    {{rel.author}}<br />
		    <span class="out_of_focus">{{rel.datec}}</span>
                </td>
		<td>
		    {{rel.message}}
			&nbsp; <a href="javascript:void(0);" class="toggle_changelog_info">more</a>
		</td>
		</tr>
		<!-- {% cycle 'row1' 'row2' %} -->
		
		{% if rel.requires_update %}
		    <tr id="update_info-{{rel.pk}}" class="toggle_info" >
			<td colspan="8">
			<div class="high_priority">
			    {{ rel.update_info|resthtml }}
			</div>
			</td>
		    </tr>
		{% endif %}
	    

		<tr id="changelog_info-{{rel.pk}}" class="toggle_info {% cycle 'row1' 'row2' %}" >
		    <td colspan="8">
		    <div>
			<b>Developers Changelog {{rel.product|default_if_none:""}} {{rel.version|pversion}}</b><br />
			{{ rel.changelog|resthtml }}
			{% if rel.obs %}
			    <b>Public Changelog</b><br />
			    {{ rel.obs|resthtml }}
			{% endif %}
		    </div>
		    </td>
		</tr>

		<!-- {{rel.obs|resthtml}} -->
		<!--
		<tr class="{% cycle 'row1' 'row2' %}">
		    
		</tr>
		-->
	    {% endfor %}
	    {% endautoescape %}
	    </table>

	    <div style='text-align: right; font-weight: bold;
			margin-top: 1em;'>
		<a href='admin/nystatus/release/'>Proceed to admin &raquo;</a>
	    </div>
	</div>
</div>
</body>
</html>
